html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3vw;
}

h4 {
  font-size: 2em;
}

p{
  font-size: 1.8em;
}

h1, h4, i, p {
  color: #000;
  text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

video {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transform: scaleX(1.5);
  -moz-transform: scaleX(2);
  background-color: black;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.main-container {
  height: 100%;
}

.my-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  color: #000;
  height: 100%;
}

.my-info img {
  width: 40%;
  border-radius: 2.5em;
  border: 0.25em solid #fff;
}

.social-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa {
  margin: .5em;
  color: #000;
  font-size: 4em;
}

@media all and (max-width: 1024px) {
  body {
    background-image: url(../img/background.png);
  }

  h1 {
    font-size: 5vh;
  }

  h4 {
    font-size: 4vh;
  }

  p {
    font-size: 3vh;
    text-align: center;
  }

  i {
    font-size: 8em !important;
  }

  video {
    display: none;
  }

  .my-info {
    justify-content: center;
    position: relative;
  }

  .my-info img {
    width: 100%;
  }
}
